node_modules/
dist/
.env
.DS_Store
npm-debug.log*
data/media/
apps/api/data/media/bookings.json
apps/api/data/media/media.json
pnpm-lock.yaml
apps/api/data/*
/apps/api/data/media/*.json
apps/api/data/media/bookings.json
apps/api/data/media/media.json
